<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.furion</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>GroupName</key>
    <string>wheel</string>
    <key>UserName</key>
    <string>root</string>
	<key>EnvironmentVariables</key>
	<dict>
	  <key>PATH</key>
	  <string>/usr/local/bin:/bin:/usr/bin</string>
	</dict>
    <key>ProgramArguments</key>
    <array>
      <string>furion</string>
    </array>
  </dict>
</plist>
